[Unit]
Description=rightmove service
After=network.target

[Service]
Type=simple
Restart=always
ExecStart=/home/rocky/.local/venv/bin/python /home/rocky/.local/venv/bin/flask --app server run --port 8081
WorkingDirectory=/home/rocky/rightmove-radius-price-watch

[Install]
WantedBy=default.target
