[Unit]
Description=rightmove ssh tunnel service
After=network.target

[Service]
Type=idle
Restart=always
RestartSec=5m
ExecStart=ssh -i /home/rocky/.ssh/id_ed25519 -R houses.xoce.kim:80:localhost:8081 serveo.net

[Install]
WantedBy=default.target
