[Unit]
Description=rightmove scraper
After=network.target

[Service]
Type=oneshot
ExecStart=/home/rocky/.local/venv/bin/python main2.py
WorkingDirectory=/home/rocky/rightmove-radius-price-watch

[Install]
WantedBy=default.target

