{% extends "base.html" %}

{% macro myval(old, new) -%}
{% if old == new %}
{{ new }}
{% else %}
{{ new }}<br/><span style="color: red;">{{ old }}</span>
{% endif %}
{%- endmacro %}

{% block title %}Changed Properties{% endblock %}
{% block content %}
<table>
    <tr>
        <th>Image</th>
        <th>Price</th>
        <th>Address</th>
        <th>Type</th>
        <th>Agent</th>
    </tr>
    {% for p in properties %}
    <tr>
        <td>
            <a href="https://rightmove.co.uk/properties/{{ p.property_id }}">
                <img src="{{ p.property_img }}">
            </a>
        </td>
        <td>{{ myval(p.history_price, p.property_price) }}</td>
        <td>{{ myval(p.history_address, p.property_address) }}</td>
        <td>{{ myval(p.history_type, p.property_type) }}</td>
        <td>{{ myval(p.history_agent, p.property_agent) }}</td>
    </tr>
    {% endfor %}
</table>
{% endblock %}